Kita akan belajar menggunakan Pandas. Pandas adalah salah satu paket paling penting bagi statistisi karena Pandas membuat Python dapat membaca dan memanipulasi *data frame*. *Data frame* merupakan susunan data yang bentukannya mirip di *Microsoft Excel* yang bentuknya dua dimensi.

Pandas adalah singkatan dari Panel data, istilah yang diambil dari ekonometri. Ada banyak hal yang dapat dilakukan di Pandas, tapi di sini kita akan belajar ngutak-utik data dengan menggunakan Pandas secukupnya.

Anda harus memanggil Pandas di setiap sesi memulai Python dengan menggunakan komando:

In [1]:
import pandas as pd

Setelah itu, anda tinggal pakai pd.<command> tiap kali mau memakai panda.

Data Frame bentuknya seperti ini:

In [6]:
# menulis data dari awal. 
data = {'Nama':['imed', 'krisna', 'wisnu', 'gupta'], 'pekerjaan':['Ekonom', 'kontraktor', 'pelajar', 'tukang baso'], 'usia':[30, 27, 19, 25]} 

# print
data

{'Nama': ['imed', 'krisna', 'wisnu', 'gupta'],
 'pekerjaan': ['Ekonom', 'kontraktor', 'pelajar', 'tukang baso'],
 'usia': [30, 27, 19, 25]}

Seperti anda lihat, data di atas bentuknya kurang enak dilihat. Datanya sih jadi, tapi kurang intuitif. Jika kita gunakan panda data frame, hasilnya lebih enak dilihat dan lebih ada artinya.

In [7]:
# jadikan data ke dalam dataframe
df = pd.DataFrame(data) 
  
# Print. 
df

     Nama    pekerjaan  usia
0    imed       Ekonom    30
1  krisna   kontraktor    27
2   wisnu      pelajar    19
3   gupta  tukang baso    25